/* Write your CSS here */
.bgcon {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  height: 150vh;
  background-size: cover;
}

.listee {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
  list-style-type: none;
}

.team-list-link {
  text-decoration: none; /* Remove underline styling for the link */
  color: inherit; /* Inherit text color from the parent */
}